body {
  text-align: center;
  background: url("https://www.facebook.com/photo.php?fbid=3608072619105&set=a.1274608883970&type=3&theater");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}