body {
  text-align: center;
  .hero {
  	/*sizing*/
  	width:100vw;
  	height:100vh;

  	/*Background styles*/
  	background-image: url(MyFace.jpg);
  	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  }
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}
hr {
  width: 200px;
}
p {
  font-size: 22px;
}